---
title: Norway x Yas Hallo
---

<%= partial "partials/indexnavigation" %>


<div class="norway-header">
      <div class="title">
        norway x yh
      </div>
</div>

<div class="navigation">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="#introduction">Introduction</a>
        <a href="#spark-white">Spark White</a>
        <a href="#products">Spark Black</a>
        <a href="#interview">Interview</a>
        <a href="#contribute">Ways to Contribute</a>
      </div>
    </div>
  </div>
</div>

<div class="introduction" id="introduction">
  <div class="container">
    <h1>Introduction</h1>
    <div class="row">
      <div class="five columns text-right">
        <%= image_tag "sam.jpg" %>
      </div>

      <div class="seven columns text-left">
        <p>Yas Hallo is excited to announce our first collaboration! This season we will be collaborating with student and photographer Sam Park. After his junior year at Parsons, Sam decided to take a break from school to do the great work that God called him to do. He is heading out to Norway to take part Discipleship Training School through the 'Youth With A Mission' organization. </p><br><br>
        
        <p>Blog: <a href="http://speakhumility.wordpress.com" class="link" target="_blank">speakhumility.wordpress.com</a></p>
        <p>Website: <a href="http://samuelhanpark.com" class="link" target="_blank">samuelhanpark.com</a></p>
        <p>Instagram: <a href="https://instagram.com/samsparkk" class="link" target="_blank">samsparkk</a></p>
      </div>
    </div>
  </div>
</div>

<div class="norway-products" id="spark-white">
  <div class="container">
    <div class="row text-left">
      <div class="four columns">
        <div class="product-nav"> 
          <h1>Spark White</h1>
          <p>The shirt is unisex</p>
          <a href="http://yashallo.storenvy.com/products/17069334-spark-white-unisex" target="_blank" class="button">Buy now</a>
        </div>
        <p></p>
      </div>
      <div class="eight columns">
        <%= image_tag "norway/white/1.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/2.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/3.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/4.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/5.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/6.jpg", :class => "lazy" %>
      </div>
    </div>
  </div>
</div>

<div class="norway-products" id="spark-black">
  <div class="container">
    <div class="row text-left">
    <div class="four columns">
        <div class="product-nav"> 
          <h1>Spark Black</h1>
          <p>The shirt is unisex</p>
          <a href="http://yashallo.storenvy.com/products/17069346-spark-black-unisex" target="_blank" class="button">Buy now</a>
        </div>
        <p></p>
      </div>
      <div class="eight columns">
        <%= image_tag "norway/black/1.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/2.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/3.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/4.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/5.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/6.jpg", :class => "lazy" %>
      </div>
    </div>
  </div>
</div>















