---
title: Norway x Yas Hallo
---

<%= partial "partials/indexnavigation" %>


<div class="norway-header">
      <div class="title">
        norway x yh
      </div>
</div>

<div class="navigation">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="#introduction">Introduction</a>
        <a href="#spark-white">Spark White</a>
        <a href="#spark-black">Spark Black</a>
        <a href="#interview">Interview</a>
        <a href="#contribute">Ways to Contribute</a>
      </div>
    </div>
  </div>
</div>

<div class="introduction" id="introduction">
  <div class="container">
    <h1>Introduction</h1>
    <div class="row">
      <div class="twelve columns text-left">
        <p>Yas Hallo is excited to announce our first collaboration! This season we will be collaborating with student and photographer Sam Park. After his junior year at Parsons, Sam decided to take a break from school to do the great work that God called him to do. He is heading out to <strong>Norway</strong> to take part Discipleship Training School through the 'Youth With A Mission' organization.
        <br><br>
        <strong>All profits</strong> from this collaboration will be donated to support Sam and his mission this upcoming year.</p><br><br>
      </div>
    </div>
  </div>
</div>

<div class="norway-products" id="spark-white">
  <div class="container">
    <div class="row text-left">
      <div class="four columns">
        <div class="product-nav"> 
          <h1>Spark White</h1>
          <h6>$25.00</h6>
          <p>Designed by Daniel Park and Samuel Park. <br> Unisex Sizing</p>
          <p>Pre-shrunk tee that feels good on any day. <br>Ships anywhere in North America</p>
          <a href="http://yashallo.storenvy.com/products/17069334-spark-white-unisex" target="_blank" class="button">Buy now</a>
        </div>
        <p></p>
      </div>
      <div class="eight columns">
        <%= image_tag "norway/white/1.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/4.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/5.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/man1.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/man2.jpg", :class => "lazy" %>
        <%= image_tag "norway/white/man3.jpg", :class => "lazy" %>
      </div>
    </div>
  </div>
</div>

<div class="norway-products" id="spark-black">
  <div class="container">
    <div class="row text-left">
    <div class="four columns">
        <div class="product-nav"> 
          <h1>Spark Black</h1>
          <h6>$25.00</h6>
          <p>Designed by Daniel Park and Samuel Park. <br> Unisex Sizing</p>
          <p>Pre-shrunk tee that feels good on any day. <br>Ships anywhere in North America</p>
          <a href="http://yashallo.storenvy.com/products/17069346-spark-black-unisex" target="_blank" class="button">Buy now</a>
        </div>
        <p></p>
      </div>
      <div class="eight columns">
        <%= image_tag "norway/black/1.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/2.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/3.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/man1.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/man2.jpg", :class => "lazy" %>
        <%= image_tag "norway/black/man3.jpg", :class => "lazy" %>
      </div>
    </div>
  </div>
</div>

<div class="interview" id="interview">
  <div class="container">
    <h1>Interview with Sam Park</h1>
    <div class="row">
      <div class="twelve columns text-left">
        <h2>Tell us about yourself that what you’ve been up to these past few years.</h2>
        <p>So the last couple of years I have been attending Parsons the New School for Design in New York city studying Photography. The move was a big decision since my whole family is in California, but when deciding for schools, family and I prayed a lot about where to go and throughout the week God showed us many positive signs about New York and Parsons specifically. So I went to school and have been learning a lot, not only about photography, but about God and his love for me and the city. I got quickly involved in different christian fellowships to understand and meet people of different fellowships. The past 3 years have been growing relationships. My relationship with God, building new relationships constantly, and growing the relationships with those who I had already had. Urban missions is something I grew up doing as a child so it was natural for me to pursue that personally while in the city. Meeting all kinds of people, mostly homeless but some were not. I first volunteered at a soup kitchen near Chelsea, but found that there wasn’t a chance for me to have a relationship with the people so I just went out and did it by myself. It was first and foremost to help the poorer than me, and then to share the gospel. Many were believers already so whenever I saw them I would buy them a meal if I could. So my work in school has tended to lean more towards documentary. Especially after taking some anthropology classes and going on missions to Kenya for a month last summer. </p>

        <h2>You’re heading abroad very soon, could you tell us what you are doing over there?  </h2>
        <p>So, its kind of a long list, but it all just somehow fit perfectly together in terms of timing. Originally I was only going to go to Norway for a DTS, but recently found out that the one I want to do is a 6 month program from January to June 2017. So I am getting the chance to do something I had grown up learning about just like YWAM, and its called L’abri in Switzerland. For those of you who know Francis Schaeffer (an evangelical theologian and more), he is the one who started this with his family over 60 years ago. A place to come with questions and doubts or even just to learn more about the depths of the word. Don’t wanna make this too long but you can look it up <a href="http://www.labri.org/swiss/stay.html" target="_blank" class="link">here!</a>
I’m also doing a DTS (Discipleship Training School) through an organization called YWAM (Youth With A Mission). They have bases all around the world and different programs at each city they have it at. I chose Norway at first because of a friend, which was slightly rash, but God used me through that to really show me his heart for Norway, Europe, and the world. The program is just like school. I will be in school at norway learning theology, evangelism, and more. This is where the different types of programs come into play. I had a lot of different choices and the one I wanted to do most was the Barista program. Before I got rejected from that, I had already realized that I had been wanting to do that out of my own greed, so I applied to others like Social Justice and Backpacking. I chose the Backpacking one to learn about the vast amount of cultures and to “reach the unreached”.</p>

        <%= image_tag "sampark.jpg", :class => "lazy" %>

        <h2>What made you decide to take on this missionary role with YWAM in norway? </h2>
        <p>I had been planning on taking a year off of school since the summer after my freshman year. It was just a thought at the time, but soon became a very possible and purpose driven decision. It all really changed when I went on missions to serve at a secondary school in northern Kenya, that was where my conviction really started. Although I didn’t end up choosing to go back to Africa just yet, I am hoping that this year will really be a year to guide me to what I, and where I will go in the future. I spent most of my life moving from place to place, so I have a feeling that God may not let me settle at just one place yet (hence the backpacking program).</p>

        <h2>Taking a year off of school must’ve been a hard choice to make? What factors allowed you to make your decision?</h2>
        <p>Lots of prayer and fasting and we just knew. There was at first just a conviction, but there were actual factors it seems. Senior year. Thesis is a yearlong school project that many parsons Seniors take on and originally I wanted to work on it during my year off, and although I will, It won’t be in norway. Random signs just kept being shown to me, it was like God had opened my eyes to noticing small signs. For example, I’m reading a book and it was talking about some history of missionaries who changed their country with the Bible. The chapter I got to when I decided to go to Norway was all about Norway… like that’s crazy. But not only that, it also talked about Korea and it just so happens that I’m going to Korea this summer to teach (and it’s fully funded. without fundraising!!)</p>
        
        <%= image_tag "samp2.jpg", :class => "lazy" %>

        <h2>I know that you are a photography major in school. What do you want to do after graduating and how do you see yourself using your skills in the field? </h2>
        <p>Photography has always been second for me. If God uses my skills in the field, then awesome. If not, still awesome. I don’t really mind what he put me to do, but I doubt he would put me in a position that wouldn’t require photography. I really can’t say much about my future, everything I say could end up being the complete opposite, but regardless for me, it’ll be a place to disciple and share the gospel, since you can do that anywhere!</p>
      </div>
    </div>
  </div>
</div>

<div class="contribute" id="contribute">
  <div class="container">
    <h1>Ways to Support Sam</h1>
    <div class="row">

      <div class="five columns text-right">
        <%= image_tag "sam.jpg" %>
      </div>

      <div class="seven columns text-left">
        <p>PRAYER PLEASE!! :D Always always prayer first please. And if not, money or music would be awesome. </p> <br>
        <p>Venmo: <strong>samsparkk</strong></p> <br><br>
        <p>Paypal: <a href="https://www.paypal.me/samhanpark" class="link" target="_blank">paypal.me/samhanpark</a></p><br><br>

        <p>For the music, I wanted you guys to make a playlist for me of your favorite music, favorite genre, or just a random mix! I want to listen to each and every person’s music as I travel so that while doing that I can pray for you! You can upload it using Google Drive or Dropbox and share it with <strong>samuelhanpark@gmail.com</strong></p> <br><br>
        
        <p>Blog: <a href="http://speakhumility.wordpress.com" class="link" target="_blank">speakhumility.wordpress.com</a></p>
        <p>Website: <a href="http://samuelhanpark.com" class="link" target="_blank">samuelhanpark.com</a></p>
        <p>Instagram: <a href="https://instagram.com/samsparkk" class="link" target="_blank">samsparkk</a></p>
      </div>

      
    </div>
  </div>
</div>













